- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.content
  .box-widget
    .rich-formatting= @instance_presenter.site_extended_description.html_safe.presence || t('about.extended_description_html')

  %br

  .box-widget
    .rich-formatting
      %h3 Open Source
      %p At Kahlu, we believe that the future of online publishing is decentralized and open. We believe that users of social networks should be able to control their social media experience on their own terms, rather than the terms set down by Big Tech.
      
